* {
    box-sizing: border-box;
  }
  
  :root {
    --primary: #44e9ff;
    --secondary: #497980;
    --tertiary: yellow;
    --grey: #333;
    font-size: 62.5%;
  }
  
  body {
    background: #ededed;
    color: var(--grey);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  header {
    background: var(--secondary);
    padding: 30px 25px;
    border-bottom: 5px solid var(--primary);
    height: 162px;
  }
  
  
  p,li {
    font-size: 1.6rem;
  }

  .page-title {
    color: var(--primary);
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 4.5rem;
  }
  
  .page-content {
    flex: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 25px auto;
    width: 95%;
  }
  
  .answers-wrapper {
    flex: 1;
    margin: 0 20px 20px;
  }
  
  .list-title {
    color: var(--secondary);
    font-size: 2.6rem;
  }
  
  .answers-list {
    list-style: none;
    padding: 15px;
    height: inherit;
    background: rgb(196, 196, 196);
    border-radius: 12px;
    border: 2px solid var(--grey);
  }
  
  .btn {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    background: var(--primary);
    font-size: 2.2rem;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px var(--grey);
    margin-bottom: 20px; 
  }
  
  .btn:hover {
    box-shadow: 0 2px var(--grey);
    top: -2px;
    background: var(--tertiary);
  }
  .btn:active {
    box-shadow: 0 0px var(--grey);
    top: 0;
  }
  
  .error {
    color: red;
  }
  
  .success {
    color: black;
  }

  .data {
    margin:5px 5px 5px 15px;
  }

  #startOver{
    position: relative;
    top: 50%;
    left: 40%;
  }

  #startQuiz{
    position: relative;
     left: 40%;
     top: 10px;
  }

  #inputId {
    font-size: 1.4rem;
    padding: 5px 7px;
    margin: 13px 13px 13px 0px;
  }

  #highScore{
    position: absolute;
    left: 80%;
    top: 40px;
  }

  #highScore:active {
    box-shadow: 0 0px var(--grey);
    top: 43px;
  }

  #clearScore{
    position: absolute;
    left: 80%;
    top: 95px;
  }

  #clearScore:active {
    box-shadow: 0 0px var(--grey);
    top: 98px;
  }
